@page "/TaskInfo/{Id:int}"
@inject HttpClient Http
@layout PrivateOfficeLayout
@inject NavigationManager Navigation
@inject IJSRuntime JS

<AuthorizeView>
    <Authorized>
        <div class="container">
            <TittleBackground JustifyContent="@JustifyContentEnum.FlexEnd" Color="006928d8" Tittle="Информация о задании" />
            <div class="" style="display: flex; margin-top:10px; margin-left: 40px">
                <div style="width: 70%;">
                    <div class="EducatorCardInfo">
                        <div class="mb-3">
                            <TittleUnderStick Tittle="@_task.Dicipline?.NameDiscipline"
                                              PaddinLeft="0"
                                              JustifyContent="JustifyContentEnum.FlexStart"
                                              FontSize="36"/>
                        </div>

                        <p><span style="font-weight: 500;">Название работы:</span> @_task.TaskName</p>
                        <p><span style="font-weight: 500;">Задание:</span> @_task.TaskDescription</p>


                        <p>
                            <span style="font-weight: 500;">Файлы:</span>

                            @if (_task.Files != null && _task.Files.Any())
                            {
                                <ul class="disciplines_list">
                                    @foreach (var item in _task.Files)
                                    {
                                        <li>
                                            <button @onclick="() => GetFile(item)" style="color: #0a53be; border: none; background: none;">
                                                @item.FileName
                                            </button>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span> Отсуствуют.</span>
                            }
                        </p>
                        <p><span style="font-weight: 500;">Дата создания:</span> @_task.CreatedAt.ToString("dd.MM.yyyy")</p>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Вы не авторизованы</p>
    </NotAuthorized>
</AuthorizeView>