@page "/TaskEducator"
@using Client.Core.Features
@inject HttpClient Http
@layout PrivateOfficeLayout
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="container">
            <TittleBackground JustifyContent="@JustifyContentEnum.FlexEnd" Color="006928d8" Tittle="Задания" />
            <ButtonRedirect Redirect="TasksAdd" Text="Добавление задания"/>
            <div class="table-container">
                <table class="disciplines-table">
                    <thead>
                        <tr class="table_tr">
                            <th rowSpan="2">ИД</th>
                            <th rowSpan="2">Наименование задания</th>
                            <th rowSpan="2">Предмет</th>
                            <th rowSpan="2">Группы</th>
                            <th rowSpan="2" class="profile-header">Дата добавления</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* @foreach (var item in _diciplines) *@
                        @* { *@
                        @*     <tr> *@
                        @*         <td>@item.Id</td> *@
                        @*         <td style="text-align: left">@item.NameDiscipline</td> *@
                        @*         <td>@item.Course</td> *@
                        @*         <td>@(item.isMagistracy ? "+" : "–")</td> *@
                        @*         <td>@(!item.isMagistracy ? PlusOrMinus(item.Group.isAS) : "–")</td> *@
                        @*         <td>@(!item.isMagistracy ? PlusOrMinus(item.Group.isVM) : "–")</td> *@
                        @*         <td>@(!item.isMagistracy ? PlusOrMinus(item.Group.isPO) : "–")</td> *@
                        @*         <td> *@
                        @*             <NavLink href="@($"DiciplineEdit/{item.Id}")" class="nav_link auth-link Cursor" style=" text-decoration: none"> *@
                        @*                 <p class="nav_item Cursor">Редакт.</p> *@
                        @*             </NavLink> *@
                        @*         </td> *@
                        @*         <td><button class="btn__delete" @onclick="() => BtnDelete(item.Id)">Удалить</button></td> *@
                        @*     </tr> *@
                        @* *@
                        @* } *@
                    </tbody>
                </table>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <p>Вы не авторизованы</p>
    </NotAuthorized>
</AuthorizeView>