@inherits Client.Core.Shared.ui.Model.TittleBase
<div class="FlexEnd">
    <div class="block_tittle_stick" style="display: flex; padding-left: @(PaddinLeft)vw ; justify-content: @GetJustifyContent()">
        <span class="@(State ? "tittle_stick" : "")" style="font-size: @(FontSize)px; --stick-color: #@(ColorStick); color: #@(ColorText)">@Tittle</span>
    </div>
</div>